<header>
    <nav class="navbar">
        <a
                href="#"
                class="nav-icon"
                aria-label="Visit homepage"
                aria-current="page"
        >
            <span>Phasmo: L'enquêteur</span>
        </a>
        <div class="nav-links">
            <button
                    class="hamburger"
                    type="button"
                    aria-label="Toggle navigation"
                    aria-expanded="false"
            >
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navlinks-container">
{#                <a href="#" aria-current="page">Home</a>#}
                <a href="#">Maps</a>
                <a href="#">Objets</a>
                <a href="#">Matos</a>
                <a href="#">Preuves</a>
                <a href="#">Entitées</a>
                <a href="#">Objectifs</a>
            </div>
        </div>
        <div class="nav-authentication">
            <a href="#" class="user_sign_in" aria-label="Sign in page">
{#                <img src="./assets/pictos/user-solid.svg" alt="user icon" />#}
            </a>
            <div class="sign-btn">
                <button type="button">Sign In</button>
            </div>
        </div>
    </nav>
</header>