<header>
    <nav class="navbar">
        <a
                href="#"
                class="nav-icon"
                aria-label="Visit homepage"
                aria-current="page"
        >
            <span>Phasmo: L'enquêteur</span>
        </a>
        <div class="nav-links">
            <button
                    class="hamburger"
                    type="button"
                    aria-label="Toggle navigation"
                    aria-expanded="false"
            >
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navlinks-container">
                <a href="#" aria-current="page">Home</a>
                <a href="#">Link1</a>
                <a href="#">Link2sdfqs</a>
                <a href="#" class="link3Toggle" aria-expanded="false">Link3</a>
                <a href="#">Link4</a>
            </div>
        </div>
        <div class="nav-authentication">
            <a href="#" class="user_sign_in" aria-label="Sign in page">
{#                <img src="./assets/pictos/user-solid.svg" alt="user icon" />#}
            </a>
            <div class="sign-btn">
                <button type="button">Sign In</button>
            </div>
        </div>
    </nav>
    <div class="rollLink3 close" aria-expanded="false">
        <a href="#">LinkRoll1</a>
        <a href="#">LinkRoll2</a>
        <a href="#">LinkRoll3vcwxcdv</a>
        <a href="#">LinkRoll4</a>
    </div>
</header>