<div class="popup">
    <p></p>
    <div class="buttons">
        <button class="js-popup-ok btn btn-outline-info">OK</button>
        <button class="js-popup-ko btn btn-outline-info">Cancel</button>
    </div>
</div>
