<dialog class="popup">
    <div class="popup_shape">
        <p></p>
        <div class="buttons">
            <button class="js-ok">OK</button>
            <button class="js-cancel">Cancel</button>
        </div>
    </div>
</dialog>
