{% extends 'base.html.twig' %}

{% block title %}New Characteristic{% endblock %}

{% block main_class %}main_container{% endblock %}

{% block main %}
    <div class="admin_zone">
        <h1>Create new Characteristic</h1>

        <a href="{{ path('app_admin_characteristic_index') }}">back to list</a>

        {{ include('admin_characteristic/_form.html.twig') }}

        <a href="{{ path('app_admin_characteristic_index') }}">back to list</a>
    </div>
{% endblock %}
