{% extends 'base.html.twig' %}

{% block title %}New MapSize{% endblock %}

{% block main_class %}main_container{% endblock %}

{% block main %}
    {% include('partials/_adminSideMenu.html.twig') %}
    <div class="admin_zone">
        <h1>Create new Map Size</h1>

        <a href="{{ path('app_admin_map_size_index') }}">back to list</a>

        {{ include('admin_map_size/_form.html.twig') }}

        <a href="{{ path('app_admin_map_size_index') }}">back to list</a>
    </div>
{% endblock %}
