{% extends 'base.html.twig' %}

{% block title %}New Equipment{% endblock %}

{% block main_class %}main_container{% endblock %}

{% block main %}
    {% include('partials/_adminSideMenu.html.twig') %}
    <div class="admin_zone">
        <h1>Create new Equipment</h1>

        <a href="{{ path('app_admin_equipment_index') }}">back to list</a>

        {{ include('admin_equipment/_form.html.twig') }}

        <a href="{{ path('app_admin_equipment_index') }}">back to list</a>
    </div>
{% endblock %}
