{% extends 'base.html.twig' %}

{% block title %}New Level{% endblock %}

{% block main_class %}main_container{% endblock %}

{% block main %}
    <div class="admin_zone">
        <h1>Create new Level</h1>

        <a href="{{ path('app_admin_level_index') }}">back to list</a>

        {{ include('admin_level/_form.html.twig') }}

        <a href="{{ path('app_admin_level_index') }}">back to list</a>
    </div>
{% endblock %}
