{% extends 'base.html.twig' %}

{% block title %}Edit CursedObject{% endblock %}

{% block main_class %}main_container{% endblock %}

{% block main %}
    <h1>Edit CursedObject</h1>

    {{ include('admin_cursed_object/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_cursed_object_index') }}">back to list</a>

    {{ include('admin_cursed_object/_delete_form.html.twig') }}
{% endblock %}
