body, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: var(--dark);
}

.main_container {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  gap: 2px;
  padding: 5px 2%;
  font-size: calc(var(--fontSizeText) * 0.8);

  h3 {
    font-size: calc(var(--fontSizeH3) * .75);
  }
}

.investigation_container {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  padding: 0 1%;
  font-size: calc(var(--fontSizeText) * 0.8);

  h3 {
    font-size: calc(var(--fontSizeH3) * .75);
  }
}

@media screen and (min-width: 720px) {

  .main_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 15px;
    padding: 20px 5%;
    font-size: calc(var(--fontSizeText) * 1);

    h3 {
      font-size: calc(var(--fontSizeH3) * 1);
    }
  }
}

@media screen and (min-width: 1200px) {

  .main_container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
    padding: 10px 10%;
  }

  .investigation_container {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(12, 1fr);
    gap: 5px;
    padding: 1% 1%;
  }
}