@font-face {
    font-family: 'ABeeZee';
    src: url("/assets/fonts/ABeeZee/ABeeZee-Regular.eot") format('embedded-opentype'),
    url('/assets/fonts/ABeeZee/ABeeZee-Regular.woff2') format('woff2'),
    url('/assets/fonts/ABeeZee/ABeeZee-Regular.woff') format('woff'),
    url('/assets/fonts/ABeeZee/ABeeZee-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'anotherTW-font';
    src: url('/assets/fonts/another_typewriter/AnotherTypewriter.eot') format('embedded-opentype'),
    url('/assets/fonts/another_typewriter/AnotherTypewriter.woff2') format('woff2'),
    url('/assets/fonts/another_typewriter/AnotherTypewriter.woff') format('woff'),
    url('/assets/fonts/another_typewriter/AnotherTypewriter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'creepster-font';
    src: url('/assets/fonts/Creepster/Creepster-Regular.eot') format('embedded-opentype'),
    url('/assets/fonts/Creepster/Creepster-Regular.woff2') format('woff2'),
    url('/assets/fonts/Creepster/Creepster-Regular.woff') format('woff'),
    url('/assets/fonts/Creepster/Creepster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'momsTW-font';
    src: url('/assets/fonts/moms_typewriter/MomsTypewriter.eot') format('embedded-opentype'),
    url('/assets/fonts/moms_typewriter/MomsTypewriter.woff2') format('woff2'),
    url('/assets/fonts/moms_typewriter/MomsTypewriter.woff') format('woff'),
    url('/assets/fonts/moms_typewriter/MomsTypewriter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'typeKeys-font';
    src: url('/assets/fonts/type_keys/TypeKeys.eot') format('embedded-opentype'),
    url('/assets/fonts/type_keys/TypeKeys.woff2') format('woff2'),
    url('/assets/fonts/type_keys/TypeKeys.woff') format('woff'),
    url('/assets/fonts/type_keys/TypeKeys.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'typeKeysFilled-font';
    src: url('/assets/fonts/type_keys/TypeKeysFilled.eot') format('embedded-opentype'),
    url('/assets/fonts/type_keys/TypeKeysFilled.woff2') format('woff2'),
    url('/assets/fonts/type_keys/TypeKeysFilled.woff') format('woff'),
    url('/assets/fonts/type_keys/TypeKeysFilled.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}