.text_zone {
  grid-column: 1 / -1;
  grid-row: 1 / 4;
  align-self: start;

  color: var(--light);
  padding: 2px;
  text-align: center;
  font-family: var(--fontDefault);

  p {
    margin-bottom: .25rem;

    a {
      color: var(--light);

      &:hover {
        color: var(--bloodReadable);
      }
    }
  }
}

.stat_zone {
  grid-column: 1 / -1;
  grid-row: 3 / 6;
  align-self: center;
  display: flex;
  flex-direction: column;
  //align-items: center;

  color: var(--light);
  padding: 2px 20px;
  text-align: center;
  font-family: var(--fontDefault);

  h3 {
    font-family: var(--fontTitre);

    span {
      font-size: calc(var(--fontSizeH3) * 0.5);
    }
  }

  table {
    tr:nth-of-type(2n+2) {
      border-top: solid 0.25rem transparent;
    }

    td {
      text-align: right;
      padding: 0 5px 0 0;
    }

    td:nth-of-type(1) {
      text-align: left;
    }
  }
}

.remember_zone {
  display: none;
  color: var(--light);
  padding: 2px;
  text-align: center;
  font-family: var(--fontDefault);

  h3 {
    font-family: var(--fontText);

    span {
      font-size: calc(var(--fontSizeH3) * 0.75);
    }
  }

  p {
    margin: 10px 0 0 0;
    text-align: left;
  }
}

.tweeter_zone {
  grid-column: 1 / -1;
  grid-row: 6 / 13;
  align-self: end;
}

@media screen and (min-width: 720px) {
  .text_zone {
    grid-column: 2 / -1;
    grid-row: 1 / 4;
    padding: 5px;

    border: solid 1px var(--light);
    border-radius: 10px;
    box-shadow: -4px 4px 5px 0 var(--light);

    align-self: start;
    p {
      margin-bottom: 1rem;
    }
  }
  .remember_zone {
    display: block;
    grid-column: 2 / -1;
    grid-row: 4 / -1;
    padding: 5px;

    border: solid 1px var(--light);
    border-radius: 10px;
    box-shadow: -4px 4px 5px 0 var(--light);
  }
  .tweeter_zone {
    grid-column: 1 / 2;
    grid-row: 6 / -1;

    border: solid 1px var(--light);
    border-radius: 10px;
    box-shadow: -4px 4px 5px 0 var(--light);
  }
  .stat_zone {
    grid-column: 1 / 2;
    grid-row: 1 / 7;
    padding: 5px;

    border: solid 1px var(--light);
    border-radius: 10px;
    box-shadow: -4px 4px 5px 0 var(--light);

    align-self: start;

    h3 span {
      font-size: calc(var(--fontSizeH3) * 0.75);
    }

    table {
      tr:nth-of-type(2n+2) {
        border-top: solid 1rem transparent;
      }

      td {
        padding: 0 10px 0 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .text_zone {
    grid-column: 7 / -1;
    grid-row: 2 / 5;
    padding: 10px;
  }
  .remember_zone {
    display: flex;
    flex-direction: column;
    grid-column: 7 / -1;
    grid-row: 5 / 12;
    padding: 10px;

    border: solid 1px var(--light);
    border-radius: 10px;
    box-shadow: -4px 4px 5px 0 var(--light);
  }
  .tweeter_zone {
    grid-column: 1 / 6;
    grid-row: 5 / 12;
  }
  .stat_zone {
    grid-column: 1 / 6;
    grid-row: 2 / 6;
    padding: 10px 0;

    border: solid 1px var(--light);
    border-radius: 10px;
    box-shadow: -4px 4px 5px 0 var(--light);
  }
}