.infos_zone {
  grid-column: 1 / 2;
  grid-row: 1 / 7;
  align-self: start;

  color: var(--light);
  padding: 10px 5px;
  text-align: center;
  font-family: var(--fontDefault);
  //font-family: var(--fontText);
  font-size: var(--fontSizeText);

  border: solid 1px var(--light);
  border-radius: 10px;
  box-shadow: -4px 4px 5px 0 var(--light);

  p {
    text-align: left;

    label {
      //font-family: var(--fontText);
    }

    select {
      border-radius: 5px;
      background-color: var(--dark);
      color: var(--light);
      border: none;
      text-overflow: ellipsis;
      text-align: right;
      width: 95%;

      option {
        font-family: var(--fontDefault);
      }
    }

    span{
      display: block;
      text-align: right;
      padding-right: 10%;
    }
  }
}
