.bloody {
  //color: var(--blood);
  text-decoration: line-through;
  text-decoration-color: var(--blood);
  text-decoration-thickness: 3px;
}

.selecTemp {
  //color: #00d3ff;
  color: var(--blood);
}

.not-possible {
  color: black;
}

.infos_zone {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  align-self: start;

  color: var(--light);
  padding: 10px 5px;
  text-align: center;
  font-family: var(--fontDefault);
  //font-family: var(--fontText);
  font-size: var(--fontSizeText);

  border: solid 1px var(--light);
  border-radius: 10px;
  box-shadow: -4px 4px 5px 0 var(--light);

  height: 100%;

  p {
    text-align: left;

    label {
      //font-family: var(--fontText);
    }

    select {
      border-radius: 5px;
      background-color: var(--dark);
      color: var(--light);
      border: none;
      text-overflow: ellipsis;
      text-align: right;
      width: 95%;

      option {
        font-family: var(--fontDefault);
      }
    }

    span {
      display: block;
      text-align: right;
      padding-right: 10%;
    }
  }
}

.evidences_zone {
  grid-column: 2 / 3;
  grid-row: 1 / 5;
  align-self: start;

  color: var(--light);
  padding: 10px 5px;
  margin: 0 10px;
  text-align: center;
  font-family: var(--fontDefault);
  font-size: var(--fontSizeText);

  border: solid 1px var(--light);
  border-radius: 10px;
  box-shadow: -4px 4px 5px 0 var(--light);

  h2 {
    font-family: var(--fontTitre);
  }

  .checkboxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .check_group {
      width: 25%;
      padding: 5px;
      display: grid;
      grid-template-columns: auto 30px;
      align-items: center;

      //label {
      //  justify-self: end;
      //}

      input {
        height: 20px;
      }
    }
  }
}

.entities_zone {
  grid-column: 3 / -1;
  grid-row: 1 / 12;
  align-self: start;

  color: var(--light);
  padding: 10px 5px;
  text-align: center;
  font-family: var(--fontDefault);
  font-size: var(--fontSizeText);

  border: solid 1px var(--light);
  border-radius: 10px;
  box-shadow: -4px 4px 5px 0 var(--light);

  height: 100%;

  h2 {
    font-family: var(--fontTitre);
  }

  .entity_list {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      width: fit-content;
      cursor: pointer;
    }
  }
}

.Result_Btn_zone {
  grid-column: 3 / -1;
  grid-row: 12 / -1;
  align-self: start;

  color: var(--light);
  padding: 10px 5px;
  text-align: center;
  font-family: var(--fontText);
  font-size: var(--fontSizeText);

  border: solid 1px var(--light);
  border-radius: 10px;
  box-shadow: -4px 4px 5px 0 var(--light);

  height: 100%;

  .buttons {
    display: flex;
    justify-content: space-around;
    height: 100%;

    button {
      width: 40%;
      font-size: calc(var(--fontSizeText) * 1.5);
      padding: 0;
    }
  }
}