.navbar {
  z-index: 10;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 0 20px;
  background: $darkGrad;
  text-align: center;

  box-shadow: inset 0 -1px 0 $light;

  .nav-icon {
    order: 1;
    padding: 10px 15px;

    a {
      text-decoration: none;

      span {
        font-family: $fontPhasmo;
        font-size: calc($sizeLogo * 2.5 / 3);
        line-height: 1.0;
        color: $light;
        text-shadow: 2px 2px 2px $blood;
      }

      .userName {
        font-family: $fontText;
        font-size: calc($sizeLogo * 2.5 / 5);
      }
    }
  }

  .nav-links {
    order: 3;
    // position: relative;

    .hamburger {
      display: none;
    }

    .navlinks-container {

      a {
        // position: relative;
        display: inline-block;
        margin: 0 10px;
        width: fit-content;
        //font-family: $fontDefault;
        font-family: $fontPhasmo;
        font-size: $fontsizeNavLinks;
        font-weight: 100;
        text-decoration: none;
        color: $light;

        &.active {
          color: $blood;
        }

        &:hover {
          color: $blood;
        }

        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          bottom: -1px;
          background: $blood;
          transform: scaleX(0);
          transform-origin: center;
          transition: transform 0.2s ease-out;
        }

        &:hover:after {
          transform: scaleX(1);
        }

        &.active:after {
          transform: scaleX(1);
        }
      }
    }
  }

  .nav-authentication {
    order: 4;
    margin-left: auto;

    .user_sign_in {
      display: none;
    }

    .sign-btn {
      button {
        min-width: 90px;
        border: none;
        border-radius: 15px;
        padding: 5px 10px;
        margin: 0 5px;
        cursor: pointer;
        font-family: $fontDefault;
        font-size: $fontsizeSignBtn;
        background: $light;
        color: $dark;
      }
    }
  }

  .go-btn {
    order: 2;

    button {
      background: $dark;
      color: $blood;
      text-align: center;
      font-family: $fontPhasmo;
      font-size: calc($sizeLogo * 2.5 / 3);
      line-height: 1.0;
      padding: 5px 20px;
      border: solid 2px $light;
      border-radius: 15px;
    }
  }
}

@media screen and (max-width: 900px) {

  .navbar {
    position: relative;
    padding: 5px 15px;

    .nav-icon {
      order: 2;
      margin: 0 auto;
      padding: 3px 3px;

      a {
        span {
          font-size: calc($sizeLogo * 2 / 4);
        }

        .userName {
          font-size: calc($sizeLogo * 2 / 5);
        }
      }
    }

    .nav-links {
      order: 1;
      //margin-right: auto;

      .hamburger {
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
        border: none;
        background: transparent;
        cursor: pointer;

        span {
          position: absolute;
          top: 8.5px;
          left: 0;
          display: block;
          width: 100%;
          height: 3px;
          background: $light;
          pointer-events: none;
          transition: opacity 0.6s ease-out;

          &:nth-of-type(1) {
            transform: translateY(-7px);
          }

          &:nth-of-type(3) {
            transform: translateY(7px);
          }

          &:nth-of-type(1),
          &:nth-of-type(3) {
            transition: transform 0.3s ease-out;
          }
        }

        &.open {
          span:nth-of-type(1) {
            transform: translate(0) rotate(135deg);
          }

          span:nth-of-type(2) {
            opacity: 0;
            transition: opacity 0.3s ease-out;
          }

          span:nth-of-type(3) {
            transform: translate(0) rotate(-135deg);
          }
        }
      }

      .navlinks-container {
        position: absolute;
        display: grid;
        grid-template-rows: repeat(5, auto);
        top: 100%;
        left: 0;
        margin: 0;
        padding: 5px 10px;
        border-right: 1px solid $light;
        border-bottom: 1px solid $light; // pour ajouter border bottom si on ne prend pas toute la hauteur
        background: $dark;
        transform: translate(-100%);

        a {
          height: fit-content;
          font-size: calc($fontsizeNavLinks * 90 / 100);
          margin-top: 5px;
          //color: ($dark);

          &:hover {
            color: $blood;
          }

          &::after {
            background: $blood;
          }
        }
      }

      .open {
        transform: translate(0%);
      }
    }

    .nav-authentication {
      order: 4;
      padding: 5px;
      border-radius: 15px;
      background: $light;

      .user_sign_in {
        display: block;
        cursor: pointer;
        border: none;
        width: 20px;
      }

      .sign-btn {
        display: none;
      }
    }

    .go-btn {
      order: 3;

      button {
        font-size: calc($sizeLogo * 2 / 4);
      }
    }
  }
}

@media screen and (max-width: 400px) {

  .navbar {
    padding: 4px 10px;

    .nav-icon {
      height: auto;

      a {
        span {
          font-size: calc($sizeLogo * 1.6 / 4);
        }

        .userName {
          font-size: calc($sizeLogo * 1.6 / 5);
        }
      }
    }

    .nav-links {
      order: 1;

      .hamburger {
        width: 15px;
        height: 15px;

        span {
          height: 2px;
          top: 6.5px;
          left: 0;

          &:nth-of-type(1) {
            transform: translateY(-5px);
          }

          &:nth-of-type(3) {
            transform: translateY(5px);
          }
        }
      }

      .navlinks-container {
        padding: 2px 5px 0 5px;

        a {
          font-size: calc($fontsizeNavLinks * 75 / 100);
          margin-top: 5px;
        }
      }
    }

    .nav-authentication {
      padding: 3px;

      .user_sign_in {
        width: 15px;
      }
    }

    .go-btn {
      order: 3;

      button {
        font-size: calc($sizeLogo * 1.6 / 4);
      }
    }
  }
}