@mixin button_shape {
  margin: 2px;
  background: transparent;
  color: $light;
  border: solid 1px $light;
  border-radius: 10px;
}

.popup {
  @include zone_border;
  width: 40%;
  height: 20%;
  top: 25%;

  //z-index: 1000;
  background: $darkGrad;

  .popup_shape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .buttons {
      display: flex;
      gap: 0 10px;
      justify-content: center;
      width: 100%;

      button {
        @include button_shape;
        width: 30%;
        min-width: fit-content;
        font-size: calc($fontSizeText * 1.5);
        padding: 0;

        &:hover {
          @include button_hover_light_hard
        }
      }
    }
  }
}
