{% extends 'base.html.twig' %}

{% block title %}403{% endblock %}

{% block main_class %}main_error_page{% endblock %}

{% block main %}

    <h1>Vous n'avez pas dit le mot magique !!!</h1>
    <p>Vous n'êtes pas autorisé à accéder à cette page !</p>
{% endblock %}
