{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block main_class %}main_error_page{% endblock %}

{% block main %}

    <h1>BOOOOOUUUUUUUHHHHHH !!!</h1>
    <p>Cette page est hantée et n'est donc pas visible pour le moment !</p>
    <p>Revenez un peu plus tard lorsque notre équipe l'aura exorcisée...</p>
    <img src="{{ asset('./build/assets/images/skin_entities/skin11.webp') }}">

{% endblock %}
