{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block main_class %}main_error_page{% endblock %}

{% block main %}

    <h1>OUPS !!!</h1>
    <p>Une erreur est survenue !</p>
    <p>Veuillez réssayer plus tard.</p>
    <p>Avec nos excuses.</p>

{% endblock %}
