{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block main_class %}main_error_page{% endblock %}

{% block main %}

    <h1>OUPS !!!</h1>
    <p>Une erreur est survenue !</p>
    <p>Veuillez réssayer plus tard. Toutes nos excuses.</p>
    <img src="{{ asset('./build/assets/images/skin_entities/skin5.webp') }}">

{% endblock %}
