{% extends 'base.html.twig' %}

{% block title %}Investigation{% endblock %}

{% block main_class %}investigation_container{% endblock %}

{% block main %}

    <div class="infos_zone">
        <p>
            <label for="level-select">Difficulté :</label>
            <select id="level-select" class="js-select js-sel-level">
                {% for level in levels %}
                    <option value="{{ level.id }}">{{ level.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="map-select">Map :</label>
            <select id="map-select" class="js-select js-sel-map">
                {% for map in maps %}
                    <option value="{{ map.id }}">{{ map.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="level-select">Durée chasses [maudites] :</label>
            <span class="js-durations">00:00 [00:00]</span>
        </p>
    </div>

{% endblock %}

{% block javascripts %}
    {#    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> #}
    <script>

        function affectChaseDurations() {
            const levelId = document.querySelector('.js-sel-level').value;
            const mapId = document.querySelector('.js-sel-map').value;
            const data = {
                levelId,
                mapId
            }
            const url = '/investigation/chaseDuration/' + JSON.stringify(data);
            // axios.get(url).then(function (response) {
            //     document.querySelector('.js-durations').innerHTML =
            //         response.data['chaseDuration'] +
            //         ' [' + response.data['chaseDurationCursed'] + ']';
            // });
            fetch(url)
                .then(response => response.json())
                .then(function(data) {
                    document.querySelector('.js-durations').innerHTML =
                        data['chaseDuration'] +
                        ' [' + data['chaseDurationCursed'] + ']'}
                )
        }

        affectChaseDurations();
        document.querySelectorAll('.js-select').forEach(selected => {
            selected.addEventListener('change', () => {
                affectChaseDurations();
            });
        })

    </script>
{% endblock %}