{% extends 'base.html.twig' %}

{% block title %}Investigation{% endblock %}

{% block main_class %}investigation_container{% endblock %}

{% block main %}

    <div class="infos_zone">
        <p>
            <label for="level-select">Difficulté :</label>
            <select id="level-select" class="js-select js-sel-level">
                {% for level in levels %}
                    <option value="{{ level.id }}">{{ level.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="map-select">Map :</label>
            <select id="map-select" class="js-select js-sel-map">
                {% for map in maps %}
                    <option value="{{ map.id }}">{{ map.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="level-select">Durée chasses [maudites] :</label>
            <span class="js-durations">00:00 [00:00]</span>
        </p>
    </div>

{% endblock %}